
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #E5E6E9;
    margin: 0;
}
#logod {
    width: 20%;
    height: 190px;
    background: url('../_media/logo.png') no-repeat center;
    background-size: contain;
    margin: 12% auto 0 auto;
}
.textContent { 
    display: none;
}
#hp_desc {
    width: 40%;
    max-width: 400px;
    margin: 3% auto 0 auto;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    line-height: 32px;
}
/*nav*/
nav {
    margin: 2% auto 0 auto;
    display: block;
}
nav ul{ /*idk like the width and stuff of the whole thing*/
    list-style-type: none;
    text-align: center;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
    padding: 13px 22px;
    border-top: 3px solid #3FC4F2;
    margin: 0 -5px;
}
nav ul li:hover, nav ul li:focus{
    background-color: white;
    transition: background-color 0.25s linear;
    cursor: pointer;

}
nav ul li a{
    font-weight: 500;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
li#parent{
}
ul.sub-nav {
    display: none;
    position: absolute;
    top: 50px;
    width: 85.5px;
    left: 2px;
}
ul.sub-nav li {
    float: none;
    background-color: white;
    padding: 5px 2.5px;
    border: none;
    width: 100%;
}
ul.sub-nav li:hover, ul.sub-nav li:focus {
    background: #29AAE2;
}
ul.sub-nav li:hover a, ul.sub-nav li:focus a {
    color: white;
}
ul.sub-nav li a {
    font-size: 1em;
}
ul.sub-nav.visible {
    display: block;
}
.nav-item.none {
    display: none;
}